section.formcontato {
    background: #b6dfdf;
    padding: 18px 80px;
}

section.formcontato div.formcontato__contacto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 800;
}

h2.formcontato__title {
    line-height: 70px;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    font-size: 2em;
    padding: 20px 20px 0px 0px;
    color: var(--cor-sobre-mim);
}

h3.formcontato__subtext {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: var(--cor-sobre-mim);
}

form.formcontato__form {
    display: flex;
    flex-direction: column;
    padding: 30px 0px 50px 0px;
}

form.formcontato__form input.formcontato__input {
    height: 40px;
    margin: 5px 0 10px 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 3;
    border-radius: 5px;
    border: 0 solid var(--cor-de-fundo);
}

label {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: var(--cor-sobre-mim);
}

#msgError {
    font-family: 'Poppins', sans-serif;
    font-size: bold;
    color: #a80f12;
}

textarea.formcontato__textarea {
    height: 120px;
    margin: 10px 0 10px 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 73;
    border: none;
    border-radius: 7px;
    resize: none;
}

button.formcontato__botao {
    background-color: #005100;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    border: 2px solid var(--cor-sobre-mim);
    border-radius: 7px;
    margin: 10px 0 10px 0px;
    color: var(--cor-de-fundo);
    font-family: 'Poppins', sans-serif;
    transition: 1s;
}

button.formcontato__botao:hover {
    background-color: #03544c;
    border: #03544c;
}