/*-- Trabalhando-- Sessão Hobbies*/

section.hobbies {
    padding: 10px 30px;
    background: var(--cor-de-hobbi);
}

section.hobbies h3.hobbies-title {
    font-weight: 700;
    font-size: 2em;
    text-align: center;
    color: var(--cor-sobre-mim);
}

section.hobbies div.hobbies-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

section.hobbies div.hobbies-line div.hobbies-box {
    background-color: #ebe3d8;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
    padding: 16px;
    margin: 23px 15px 23px 8px;
    width: 150px;
    height: 160px;
    border: 2px solid var(--cor-de-fundo);
    align-items: center;
}

li.hobbies-name {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: var(--cor-sobre-mim);
}